@charset "UTF-8";
/*
 *
 *  𝗖 𝗢 𝗟 𝗢 𝗥
 *  v 1.9.1
 *
 *  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
:root {
  /*  General
     *  ─────────────────────────────────── */
  --oc-white: #ffffff;
  --oc-white-rgb: 255, 255, 255;
  --oc-black: #000000;
  --oc-black-rgb: 0, 0, 0;
  /*  Gray
     *  ─────────────────────────────────── */
  --oc-gray-0: #f8f9fa;
  --oc-gray-0-rgb: 248, 249, 250;
  --oc-gray-1: #f1f3f5;
  --oc-gray-1-rgb: 241, 243, 245;
  --oc-gray-2: #e9ecef;
  --oc-gray-2-rgb: 233, 236, 239;
  --oc-gray-3: #dee2e6;
  --oc-gray-3-rgb: 222, 226, 230;
  --oc-gray-4: #ced4da;
  --oc-gray-4-rgb: 206, 212, 218;
  --oc-gray-5: #adb5bd;
  --oc-gray-5-rgb: 173, 181, 189;
  --oc-gray-6: #868e96;
  --oc-gray-6-rgb: 134, 142, 150;
  --oc-gray-7: #495057;
  --oc-gray-7-rgb: 73, 80, 87;
  --oc-gray-8: #343a40;
  --oc-gray-8-rgb: 52, 58, 64;
  --oc-gray-9: #212529;
  --oc-gray-9-rgb: 33, 37, 41;
  /*  Red
     *  ─────────────────────────────────── */
  --oc-red-0: #fff5f5;
  --oc-red-0-rgb: 255, 245, 245;
  --oc-red-1: #ffe3e3;
  --oc-red-1-rgb: 255, 227, 227;
  --oc-red-2: #ffc9c9;
  --oc-red-2-rgb: 255, 201, 201;
  --oc-red-3: #ffa8a8;
  --oc-red-3-rgb: 255, 168, 168;
  --oc-red-4: #ff8787;
  --oc-red-4-rgb: 255, 135, 135;
  --oc-red-5: #ff6b6b;
  --oc-red-5-rgb: 255, 107, 107;
  --oc-red-6: #fa5252;
  --oc-red-6-rgb: 250, 82, 82;
  --oc-red-7: #f03e3e;
  --oc-red-7-rgb: 240, 62, 62;
  --oc-red-8: #e03131;
  --oc-red-8-rgb: 224, 49, 49;
  --oc-red-9: #c92a2a;
  --oc-red-9-rgb: 201, 42, 42;
  /*  Pink
     *  ─────────────────────────────────── */
  --oc-pink-0: #fff0f6;
  --oc-pink-0-rgb: 255, 240, 246;
  --oc-pink-1: #ffdeeb;
  --oc-pink-1-rgb: 255, 222, 235;
  --oc-pink-2: #fcc2d7;
  --oc-pink-2-rgb: 252, 194, 215;
  --oc-pink-3: #faa2c1;
  --oc-pink-3-rgb: 250, 162, 193;
  --oc-pink-4: #f783ac;
  --oc-pink-4-rgb: 247, 131, 172;
  --oc-pink-5: #f06595;
  --oc-pink-5-rgb: 240, 101, 149;
  --oc-pink-6: #e64980;
  --oc-pink-6-rgb: 230, 73, 128;
  --oc-pink-7: #d6336c;
  --oc-pink-7-rgb: 214, 51, 108;
  --oc-pink-8: #c2255c;
  --oc-pink-8-rgb: 194, 37, 92;
  --oc-pink-9: #a61e4d;
  --oc-pink-9-rgb: 166, 30, 77;
  /*  Grape
     *  ─────────────────────────────────── */
  --oc-grape-0: #f8f0fc;
  --oc-grape-0-rgb: 248, 240, 252;
  --oc-grape-1: #f3d9fa;
  --oc-grape-1-rgb: 243, 217, 250;
  --oc-grape-2: #eebefa;
  --oc-grape-2-rgb: 238, 190, 250;
  --oc-grape-3: #e599f7;
  --oc-grape-3-rgb: 229, 153, 247;
  --oc-grape-4: #da77f2;
  --oc-grape-4-rgb: 218, 119, 242;
  --oc-grape-5: #cc5de8;
  --oc-grape-5-rgb: 204, 93, 232;
  --oc-grape-6: #be4bdb;
  --oc-grape-6-rgb: 190, 75, 219;
  --oc-grape-7: #ae3ec9;
  --oc-grape-7-rgb: 174, 62, 201;
  --oc-grape-8: #9c36b5;
  --oc-grape-8-rgb: 156, 54, 181;
  --oc-grape-9: #862e9c;
  --oc-grape-9-rgb: 134, 46, 156;
  /*  Violet
     *  ─────────────────────────────────── */
  --oc-violet-0: #f3f0ff;
  --oc-violet-0-rgb: 243, 240, 255;
  --oc-violet-1: #e5dbff;
  --oc-violet-1-rgb: 229, 219, 255;
  --oc-violet-2: #d0bfff;
  --oc-violet-2-rgb: 208, 191, 255;
  --oc-violet-3: #b197fc;
  --oc-violet-3-rgb: 177, 151, 252;
  --oc-violet-4: #9775fa;
  --oc-violet-4-rgb: 151, 117, 250;
  --oc-violet-5: #845ef7;
  --oc-violet-5-rgb: 132, 94, 247;
  --oc-violet-6: #7950f2;
  --oc-violet-6-rgb: 121, 80, 242;
  --oc-violet-7: #7048e8;
  --oc-violet-7-rgb: 112, 72, 232;
  --oc-violet-8: #6741d9;
  --oc-violet-8-rgb: 103, 65, 217;
  --oc-violet-9: #5f3dc4;
  --oc-violet-9-rgb: 95, 61, 196;
  /*  Indigo
     *  ─────────────────────────────────── */
  --oc-indigo-0: #edf2ff;
  --oc-indigo-0-rgb: 237, 242, 255;
  --oc-indigo-1: #dbe4ff;
  --oc-indigo-1-rgb: 219, 228, 255;
  --oc-indigo-2: #bac8ff;
  --oc-indigo-2-rgb: 186, 200, 255;
  --oc-indigo-3: #91a7ff;
  --oc-indigo-3-rgb: 145, 167, 255;
  --oc-indigo-4: #748ffc;
  --oc-indigo-4-rgb: 116, 143, 252;
  --oc-indigo-5: #5c7cfa;
  --oc-indigo-5-rgb: 92, 124, 250;
  --oc-indigo-6: #4c6ef5;
  --oc-indigo-6-rgb: 76, 110, 245;
  --oc-indigo-7: #4263eb;
  --oc-indigo-7-rgb: 66, 99, 235;
  --oc-indigo-8: #3b5bdb;
  --oc-indigo-8-rgb: 59, 91, 219;
  --oc-indigo-9: #364fc7;
  --oc-indigo-9-rgb: 54, 79, 199;
  /*  Blue
     *  ─────────────────────────────────── */
  --oc-blue-0: #e7f5ff;
  --oc-blue-0-rgb: 231, 245, 255;
  --oc-blue-1: #d0ebff;
  --oc-blue-1-rgb: 208, 235, 255;
  --oc-blue-2: #a5d8ff;
  --oc-blue-2-rgb: 165, 216, 255;
  --oc-blue-3: #74c0fc;
  --oc-blue-3-rgb: 116, 192, 252;
  --oc-blue-4: #4dabf7;
  --oc-blue-4-rgb: 77, 171, 247;
  --oc-blue-5: #339af0;
  --oc-blue-5-rgb: 51, 154, 240;
  --oc-blue-6: #228be6;
  --oc-blue-6-rgb: 34, 139, 230;
  --oc-blue-7: #1c7ed6;
  --oc-blue-7-rgb: 28, 126, 214;
  --oc-blue-8: #1971c2;
  --oc-blue-8-rgb: 25, 113, 194;
  --oc-blue-9: #1864ab;
  --oc-blue-9-rgb: 24, 100, 171;
  /*  Cyan
     *  ─────────────────────────────────── */
  --oc-cyan-0: #e3fafc;
  --oc-cyan-0-rgb: 227, 250, 252;
  --oc-cyan-1: #c5f6fa;
  --oc-cyan-1-rgb: 197, 246, 250;
  --oc-cyan-2: #99e9f2;
  --oc-cyan-2-rgb: 153, 233, 242;
  --oc-cyan-3: #66d9e8;
  --oc-cyan-3-rgb: 102, 217, 232;
  --oc-cyan-4: #3bc9db;
  --oc-cyan-4-rgb: 59, 201, 219;
  --oc-cyan-5: #22b8cf;
  --oc-cyan-5-rgb: 34, 184, 207;
  --oc-cyan-6: #15aabf;
  --oc-cyan-6-rgb: 21, 170, 191;
  --oc-cyan-7: #1098ad;
  --oc-cyan-7-rgb: 16, 152, 173;
  --oc-cyan-8: #0c8599;
  --oc-cyan-8-rgb: 12, 133, 153;
  --oc-cyan-9: #0b7285;
  --oc-cyan-9-rgb: 11, 114, 133;
  /*  Teal
     *  ─────────────────────────────────── */
  --oc-teal-0: #e6fcf5;
  --oc-teal-0-rgb: 230, 252, 245;
  --oc-teal-1: #c3fae8;
  --oc-teal-1-rgb: 195, 250, 232;
  --oc-teal-2: #96f2d7;
  --oc-teal-2-rgb: 150, 242, 215;
  --oc-teal-3: #63e6be;
  --oc-teal-3-rgb: 99, 230, 190;
  --oc-teal-4: #38d9a9;
  --oc-teal-4-rgb: 56, 217, 169;
  --oc-teal-5: #20c997;
  --oc-teal-5-rgb: 32, 201, 151;
  --oc-teal-6: #12b886;
  --oc-teal-6-rgb: 18, 184, 134;
  --oc-teal-7: #0ca678;
  --oc-teal-7-rgb: 12, 166, 120;
  --oc-teal-8: #099268;
  --oc-teal-8-rgb: 9, 146, 104;
  --oc-teal-9: #087f5b;
  --oc-teal-9-rgb: 8, 127, 91;
  /*  Green
     *  ─────────────────────────────────── */
  --oc-green-0: #ebfbee;
  --oc-green-0-rgb: 235, 251, 238;
  --oc-green-1: #d3f9d8;
  --oc-green-1-rgb: 211, 249, 216;
  --oc-green-2: #b2f2bb;
  --oc-green-2-rgb: 178, 242, 187;
  --oc-green-3: #8ce99a;
  --oc-green-3-rgb: 140, 233, 154;
  --oc-green-4: #69db7c;
  --oc-green-4-rgb: 105, 219, 124;
  --oc-green-5: #51cf66;
  --oc-green-5-rgb: 81, 207, 102;
  --oc-green-6: #40c057;
  --oc-green-6-rgb: 64, 192, 87;
  --oc-green-7: #37b24d;
  --oc-green-7-rgb: 55, 178, 77;
  --oc-green-8: #2f9e44;
  --oc-green-8-rgb: 47, 158, 68;
  --oc-green-9: #2b8a3e;
  --oc-green-9-rgb: 43, 138, 62;
  /*  Lime
     *  ─────────────────────────────────── */
  --oc-lime-0: #f4fce3;
  --oc-lime-0-rgb: 244, 252, 227;
  --oc-lime-1: #e9fac8;
  --oc-lime-1-rgb: 233, 250, 200;
  --oc-lime-2: #d8f5a2;
  --oc-lime-2-rgb: 216, 245, 162;
  --oc-lime-3: #c0eb75;
  --oc-lime-3-rgb: 192, 235, 117;
  --oc-lime-4: #a9e34b;
  --oc-lime-4-rgb: 169, 227, 75;
  --oc-lime-5: #94d82d;
  --oc-lime-5-rgb: 148, 216, 45;
  --oc-lime-6: #82c91e;
  --oc-lime-6-rgb: 130, 201, 30;
  --oc-lime-7: #74b816;
  --oc-lime-7-rgb: 116, 184, 22;
  --oc-lime-8: #66a80f;
  --oc-lime-8-rgb: 102, 168, 15;
  --oc-lime-9: #5c940d;
  --oc-lime-9-rgb: 92, 148, 13;
  /*  Yellow
     *  ─────────────────────────────────── */
  --oc-yellow-0: #fff9db;
  --oc-yellow-0-rgb: 255, 249, 219;
  --oc-yellow-1: #fff3bf;
  --oc-yellow-1-rgb: 255, 243, 191;
  --oc-yellow-2: #ffec99;
  --oc-yellow-2-rgb: 255, 236, 153;
  --oc-yellow-3: #ffe066;
  --oc-yellow-3-rgb: 255, 224, 102;
  --oc-yellow-4: #ffd43b;
  --oc-yellow-4-rgb: 255, 212, 59;
  --oc-yellow-5: #fcc419;
  --oc-yellow-5-rgb: 252, 196, 25;
  --oc-yellow-6: #fab005;
  --oc-yellow-6-rgb: 250, 176, 5;
  --oc-yellow-7: #f59f00;
  --oc-yellow-7-rgb: 245, 159, 0;
  --oc-yellow-8: #f08c00;
  --oc-yellow-8-rgb: 240, 140, 0;
  --oc-yellow-9: #e67700;
  --oc-yellow-9-rgb: 230, 119, 0;
  /*  Orange
     *  ─────────────────────────────────── */
  --oc-orange-0: #fff4e6;
  --oc-orange-0-rgb: 255, 244, 230;
  --oc-orange-1: #ffe8cc;
  --oc-orange-1-rgb: 255, 232, 204;
  --oc-orange-2: #ffd8a8;
  --oc-orange-2-rgb: 255, 216, 168;
  --oc-orange-3: #ffc078;
  --oc-orange-3-rgb: 255, 192, 120;
  --oc-orange-4: #ffa94d;
  --oc-orange-4-rgb: 255, 169, 77;
  --oc-orange-5: #ff922b;
  --oc-orange-5-rgb: 255, 146, 43;
  --oc-orange-6: #fd7e14;
  --oc-orange-6-rgb: 253, 126, 20;
  --oc-orange-7: #f76707;
  --oc-orange-7-rgb: 247, 103, 7;
  --oc-orange-8: #e8590c;
  --oc-orange-8-rgb: 232, 89, 12;
  --oc-orange-9: #d9480f;
  --oc-orange-9-rgb: 217, 72, 15;
}

:root {
  --kegel-1: 1rem;
  --kegel-2: 1.125rem;
  --kegel-3: 1.25rem;
  --kegel-4: 1.425rem;
  --kegel-5: 1.6rem;
  --kegel-6: 1.8rem;
  --kegel-7: 2rem;
  --kegel-8: 2.3rem;
  --kegel-9: 2.5rem;
  --kegel-10: 2.9rem;
  --kegel-11: 3.25rem;
  --kegel-12: 3.65rem;
  --kegel-13: 4.1rem;
  --kegel-14: 4.625rem;
  --kegel-15: 5.2rem;
  --space-1: 6.6rem;
  --space-2: 7.4rem;
  --space-3: 8.33rem;
  --space-4: 9.4rem;
  --space-5: 10.5rem;
  --space-6: 11.9rem;
  --space-7: 13.3rem;
  --space-8: 15rem;
  --space-9: 16.9rem;
  --space-10: 19rem;
  --space-11: 21.4rem;
  --space-12: 24rem;
  --space-13: 27rem;
  --space-14: 30.4rem;
  --space-15: 35rem;
  --height-1: 1.1;
  --height-3: 1.3;
  --height-5: 1.5;
  --height-7: 1.7;
  --height-9: 1.9;
  --weight-4: 400;
  --weight-5: 500;
  --weight-6: 600;
  --weight-7: 700;
  --weight-8: 800;
  --weight-9: 900;
}

.btn {
  font-weight: var(--weight-7);
  display: inline-block;
  text-align: center;
  font-size: var(--kegel-5);
  text-decoration: none;
  border-radius: 0.5rem;
  box-shadow: inset 0px -4px 1px rgba(0, 0, 0, 0.6);
  transition: background-color 0.2s ease-out, color 0.2s ease-out, border 0.2s ease-out, box-shadow 0.2s ease-out;
}
@media only screen and (max-width: 30em) {
  .btn {
    font-size: var(--kegel-4);
  }
}

.btn--big {
  padding: var(--kegel-7) var(--kegel-15);
}
@media only screen and (max-width: 30em) {
  .btn--big {
    padding: var(--kegel-5) var(--kegel-11);
  }
}

.btn--small {
  padding: var(--kegel-5) var(--kegel-11);
}
@media only screen and (max-width: 30em) {
  .btn--small {
    padding: var(--kegel-3) var(--kegel-7);
  }
}

.btn--white:link, .btn--white:visited {
  background-color: #fff;
  color: #979797;
  border: 0.2rem solid #979797;
  box-shadow: none;
  transition: none;
}

.btn--blue:link, .btn--blue:visited {
  background-color: #3a5aff;
  color: #fff;
}

.btn--white:hover, .btn--blue:hover, .btn--white:active, .btn--blue:active {
  background-color: #ffc43b;
  color: var(--oc-white);
  border-color: var(--oc-white);
  box-shadow: inset 0px -4px 1px rgba(0, 0, 0, 0.6);
}

.call-to-action {
  padding-block: var(--space-1);
  min-height: 40rem;
  display: flex;
  justify-content: flex-end;
  background-position: 0% 40%;
  background-repeat: no-repeat;
  background-size: 450px;
  background-image: url(../img/call-to-action/student-hand-up.png);
}
.call-to-action__content {
  width: 50%;
}
.call-to-action .headline {
  margin-bottom: var(--kegel-15);
}

.features {
  padding-block: var(--space-1);
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.feature {
  display: flex;
  gap: var(--space-1);
  flex-direction: row;
  justify-content: center;
}
.feature--reverse {
  flex-direction: row-reverse;
}
.feature__img {
  flex: 1;
}
.feature__img img {
  width: 100%;
}
@media only screen and (max-width: 48em) {
  .feature__img img {
    max-width: 30rem;
  }
}
.feature__content {
  flex: 1;
}
.feature__title.subtitle {
  text-align: left;
  margin-bottom: var(--kegel-8);
}
@media only screen and (max-width: 48em) {
  .feature__title.subtitle {
    text-align: center;
  }
}
.feature__descr {
  font-weight: var(--weight-5);
  font-size: var(--kegel-9);
  line-height: var(--height-5);
}

@media only screen and (max-width: 48em) {
  .feature,
.feature--reverse {
    flex-direction: column;
    align-items: center;
    gap: var(--kegel-8);
  }
}

.game__main {
  background-color: #ffc43b;
}

.game__header {
  text-align: center;
  font-size: var(--kegel-9);
  font-weight: var(--weight-5);
}
@media only screen and (max-width: 30em) {
  .game__header {
    font-size: var(--kegel-7);
  }
}
.game__header .subtitle {
  margin-bottom: var(--kegel-5);
}

.game__footer {
  text-align: center;
  font-size: var(--kegel-12);
}
@media only screen and (max-width: 30em) {
  .game__footer {
    font-size: var(--kegel-10);
  }
}
.game__footer p {
  display: inline;
  margin-right: 0.5rem;
}
.game__footer a:link,
.game__footer a:visited {
  font-weight: bold;
  text-decoration-line: underline;
  /* $primary */
  color: #3a5aff;
  transition: color ease-out 0.2s;
}
.game__footer a:hover,
.game__footer a:active {
  color: #ffc43b;
}

.game {
  display: flex;
  flex-direction: column;
  gap: var(--kegel-10);
  margin-bottom: var(--kegel-15);
}
.game__logo .logo__heading {
  color: var(--oc-white);
}
.game__content {
  padding-block: var(--space-10);
  gap: var(--kegel-10);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game__trial {
  display: block;
  font-family: Montserrat;
  font-size: var(--kegel-7);
  color: var(--oc-gray-7);
  font-weight: var(--weight-5);
  text-align: center;
  text-decoration: none;
}
.game__trial:hover {
  text-decoration: underline;
}
.game__btn:link, .game__btn:visited {
  background-color: var(--oc-white);
  padding: var(--kegel-9) var(--kegel-11);
  font-weight: var(--weight-7);
  font-size: var(--kegel-10);
  color: var(--oc-gray-6);
  border-radius: var(--kegel-15);
  transition: all 0.3 ease;
}
.game__btn:hover, .game__btn:active {
  color: #ffc43b;
  background-color: #2f281e;
  box-shadow: inset 0px -4px 1px white;
}

.getapp p {
  font-weight: bold;
  font-size: var(--kegel-5);
  color: var(--oc-gray-8);
  margin-bottom: var(--kegel-1);
}
.getapp__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--kegel-1);
}
.getapp__button {
  height: var(--kegel-13);
  border-radius: 0.5rem;
  transition: transform 0.3s ease;
}
.getapp__button:hover {
  transform: scale(1.05);
}

.hero {
  padding-block: var(--space-4);
  display: flex;
}
@media only screen and (max-width: 48em) {
  .hero {
    padding-block: var(--kegel-10);
    text-align: center;
  }
}
@media only screen and (max-width: 48em) {
  .hero {
    flex-direction: column-reverse;
  }
}
.hero__content {
  flex: 1;
}
.hero__img {
  flex: 1;
}
.hero__img img {
  width: 100%;
}
@media only screen and (max-width: 48em) {
  .hero__img {
    max-width: 40rem;
    margin-inline: auto;
    margin-bottom: var(--kegel-5);
  }
}
.hero .headline {
  margin-bottom: var(--kegel-15);
}
@media only screen and (max-width: 48em) {
  .hero .headline {
    margin-bottom: var(--kegel-10);
    font-size: var(--kegel-12);
  }
}
.hero__text {
  font-size: var(--kegel-8);
  color: var(--oc-gray-7);
  margin-bottom: var(--kegel-10);
}
@media only screen and (max-width: 48em) {
  .hero__text {
    font-size: var(--kegel-5);
  }
}
.hero .btn {
  margin-bottom: var(--kegel-15);
}
@media only screen and (max-width: 48em) {
  .hero .getapp__buttons {
    justify-content: center;
  }
}

.stats {
  padding-block: var(--space-1);
  display: flex;
  justify-content: space-between;
  gap: var(--kegel-9);
}
@media only screen and (max-width: 48em) {
  .stats {
    flex-direction: column;
  }
}
.stats .stats__item {
  flex: 1;
  font-weight: var(--weight-8);
  font-size: var(--kegel-5);
  color: var(--oc-gray-8);
  padding: 0.3px 0px 0.3px 5px;
  border-left-width: 4px;
  border-left-style: solid;
  transition: background-color ease-out 0.4s, color ease-out 0.4s, transform 0.4s 0.3s;
}
.stats .stats__item:hover {
  color: #fff;
  transform: scale(115%);
}
.stats .stats__item--blue {
  border-left-color: #3a5aff;
}
.stats .stats__item--blue:hover {
  background-color: #3a5aff;
}
.stats .stats__item--gold {
  border-left-color: #ffc43b;
}
.stats .stats__item--gold:hover {
  background-color: #ffc43b;
}
.stats .stats__item--lightblue {
  border-left-color: #3cc5ff;
}
.stats .stats__item--lightblue:hover {
  background-color: #3cc5ff;
}
.stats .stats__item--red {
  border-left-color: #ff3b53;
}
.stats .stats__item--red:hover {
  background-color: #ff3b53;
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--kegel-7);
}
@media only screen and (max-width: 30em) {
  .logo {
    gap: var(--kegel-4);
  }
}
.logo__img {
  transform: translateY(-0.5rem);
  width: var(--kegel-14);
  height: var(--kegel-14);
}
@media only screen and (max-width: 30em) {
  .logo__img {
    width: var(--kegel-12);
    height: var(--kegel-12);
  }
}
.logo__heading {
  display: inline;
  font-family: Vibur, sans-serif;
  font-weight: var(--weight-5);
  color: var(--oc-gray-8);
  font-size: var(--kegel-14);
}
@media only screen and (max-width: 30em) {
  .logo__heading {
    font-size: var(--kegel-13);
  }
}

.social__text {
  font-weight: bold;
  font-size: var(--kegel-4);
  color: #111;
  margin-bottom: var(--kegel-4);
}
.social__buttons {
  display: flex;
  gap: var(--kegel-1);
}
.social__buttons img {
  width: var(--kegel-7);
}
.social__button {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--kegel-13);
  height: var(--kegel-13);
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.social__button:hover {
  transform: scale(1.1);
}

.target-w {
  background-color: var(--oc-gray-1);
}

.target {
  padding-block: var(--space-1);
}
.target__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: var(--kegel-15);
  gap: var(--space-5);
}
@media only screen and (max-width: 64em) {
  .target__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 48em) {
  .target__items {
    gap: var(--kegel-15);
  }
}
@media only screen and (max-width: 30em) {
  .target__items {
    grid-template-columns: 1fr;
  }
}
.target__item {
  gap: var(--kegel-5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 64em) {
  .target__item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
}
.target__title {
  font-weight: var(--weight-7);
  font-size: var(--kegel-8);
  color: var(--oc-gray-8);
  margin-bottom: var(--kegel-5);
}
@media only screen and (max-width: 48em) {
  .target__title {
    margin-bottom: 0;
  }
}
.target__descr {
  font-size: var(--kegel-5);
  line-height: var(--height-7);
  color: var(--oc-gray-7);
  margin-bottom: var(--kegel-7);
}
@media only screen and (max-width: 64em) {
  .target__descr {
    grid-column: span 2;
  }
}
.target__link {
  font-weight: var(--weight-7);
  font-size: var(--kegel-5);
  text-decoration: none;
  color: var(--oc-gray-8);
  margin-top: auto;
}
@media only screen and (max-width: 64em) {
  .target__link {
    grid-column: span 2;
  }
}
.target__link:hover {
  color: #ffc43b;
}
.target__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--kegel-15);
  height: var(--kegel-15);
  border-radius: 40%;
  margin-bottom: var(--kegel-7);
}
@media only screen and (max-width: 64em) {
  .target__icon {
    width: var(--space-1);
    height: var(--space-1);
    margin-bottom: 0;
  }
}
.target__icon--blue {
  background-color: #3a5aff;
}
.target__icon--lightblue {
  background-color: #3cc5ff;
}
.target__icon--red {
  background-color: #ff3b53;
}
.target__icon--gold {
  background-color: #ffc43b;
}
.target__btn {
  text-align: center;
}
.target__btn .btn {
  text-transform: uppercase;
}

.testimonial-w {
  background-color: #3a5aff;
}

.testimonial {
  padding-block: var(--space-1);
  color: #fff;
}
.testimonial__layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 48em) {
  .testimonial__layout {
    grid-template-columns: 1fr;
  }
}
.testimonial__graphics {
  position: relative;
}
.testimonial .subtitle {
  color: #fff;
}
.testimonial .subtitle::after {
  background-color: #fff;
}
.testimonial__img {
  border-radius: 50%;
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 20rem;
  height: 20rem;
}
.testimonial__quote {
  position: absolute;
  top: 0;
  right: 16rem;
  padding: 2rem 0;
  min-width: 40rem;
  z-index: 1;
  border-radius: var(--kegel-9);
  background-color: #fff;
  font-weight: bold;
  font-size: var(--kegel-9);
  text-align: center;
  color: var(--oc-gray-8);
}
.testimonial__quote::before {
  content: "";
  display: block;
  background-color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: absolute;
  bottom: -1.25rem;
  right: 15%;
}
.testimonial__quote::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: absolute;
  bottom: -3.5rem;
  right: 10%;
}
.testimonial__text {
  padding-left: 5rem;
  border-left: 0.1rem #fff solid;
}
.testimonial__author {
  font-weight: bold;
  font-size: var(--kegel-6);
  margin-bottom: var(--kegel-10);
}
.testimonial__bio {
  font-weight: var(--weight-5);
  font-size: 1.6rem;
  line-height: var(--line-height-md);
}
.testimonial__bio p {
  margin-bottom: var(--kegel-10);
}
.testimonial__logo {
  width: var(--space-10);
  background-color: var(--oc-white);
  padding: var(--kegel-1) var(--kegel-12);
  border-radius: var(--kegel-2);
}
.testimonial__logo img {
  width: 100%;
}

.section-cards {
  padding-block: var(--space-1);
}

.cards {
  display: grid;
  gap: var(--kegel-8) var(--kegel-10);
  justify-items: center;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 48em) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--kegel-7);
  width: 100%;
  max-width: 45rem;
  position: relative;
  border-radius: var(--kegel-10);
  padding: var(--kegel-15) var(--kegel-10) var(--kegel-10);
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.03);
}
.card > * {
  color: var(--oc-white);
  width: 60%;
  font-size: var(--kegel-5);
}
.card__title {
  font-weight: var(--weight-8);
  font-size: var(--kegel-9);
}
.card__title--new::before {
  position: absolute;
  top: 2rem;
  text-align: center;
  content: "New";
  display: inline-block;
  color: var(--oc-white);
  background-color: var(--oc-black);
  border-radius: var(--kegel-10);
  padding: 0.5rem var(--kegel-1);
  font-weight: var(--weight-7);
  font-size: var(--kegel-3);
}
.card__descr {
  line-height: var(--height-5);
}
.card__link {
  font-weight: var(--weight-7);
  text-decoration: none;
}

.card--pencils {
  position: relative;
  background: linear-gradient(to right, #3a5aff, rgba(60, 197, 255, 0.7)), url(../img/cards-slider/card-pencils.jpeg) bottom/cover;
  z-index: 0;
}
.card--pencils::after {
  border-radius: inherit;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(58, 90, 255, 0.5);
  clip-path: polygon(0% 0%, 65% 0, 90% 50%, 65% 100%, 0% 100%);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.card--pencil {
  position: relative;
  background: url(../img/cards-slider/card-pencil.jpeg) right/cover;
  z-index: 0;
}
.card--pencil::after {
  border-radius: inherit;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #111;
  clip-path: inset(0 32% 0 0);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.card--burger {
  background: #ffd36e;
  z-index: 1;
}
.card--burger .card__link,
.card--burger .card__descr,
.card--burger .card__title {
  color: #111;
}
.card--burger::after {
  border-radius: inherit;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ffc43b;
  clip-path: polygon(0% 0%, 65% 0, 90% 50%, 65% 100%, 0% 100%);
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
}

.card__img {
  position: absolute;
  width: var(--space-9);
  top: 0;
  right: 0;
  transform: rotate(20deg) translate(1rem, 5rem);
}
@media only screen and (max-width: 64em) {
  .card__img {
    width: var(--space-7);
  }
}
@media only screen and (max-width: 30em) {
  .card__img {
    width: var(--space-4);
    transform: rotate(20deg) translate(0rem, 8rem);
  }
}

body {
  font-family: Montserrat, sans-serif;
}

@font-face {
  font-family: "Vibur";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/vibur-v13-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/vibur-v13-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/vibur-v13-latin-regular.woff2") format("woff2"), url("../fonts/vibur-v13-latin-regular.woff") format("woff"), url("../fonts/vibur-v13-latin-regular.ttf") format("truetype"), url("../fonts/vibur-v13-latin-regular.svg#Vibur") format("svg");
  /* Legacy iOS */
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 64em) {
  html {
    font-size: 60%;
  }
}
@media only screen and (max-width: 48em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 30em) {
  html {
    font-size: 50%;
  }
}

body {
  color: var(--oc-gray-7);
}

.headline {
  font-weight: var(--weight-8);
  font-size: var(--space-2);
  line-height: var(--height-3);
  color: var(--oc-gray-9);
}

.subtitle {
  font-size: var(--kegel-12);
  font-weight: var(--weight-8);
  text-align: center;
  color: var(--oc-gray-8);
}
@media only screen and (max-width: 30em) {
  .subtitle {
    font-size: var(--kegel-10);
  }
}

.subtitle--dash {
  margin-bottom: var(--space-1);
}
.subtitle--dash::after {
  content: "";
  display: block;
  background-color: #3a5aff;
  width: var(--space-6);
  height: 0.8rem;
  margin-inline: auto;
  position: relative;
  top: var(--kegel-1);
}

.footer-w {
  background-color: #3a5aff;
}

.footer {
  padding-block: var(--space-1);
  display: flex;
  justify-content: space-between;
  gap: var(--kegel-11);
}
@media only screen and (max-width: 48em) {
  .footer {
    flex-direction: column;
  }
}
.footer__logo {
  position: relative;
  top: -0.8rem;
  margin-bottom: var(--kegel-12);
}
.footer__logo .logo__img {
  width: 3rem;
}
.footer__logo .logo__heading {
  color: #fff;
  font-size: var(--kegel-10);
}
.footer__main {
  flex: 0 0 30rem;
}
@media only screen and (max-width: 48em) {
  .footer__main {
    order: 1;
  }
}
.footer .getapp {
  margin-bottom: var(--kegel-15);
}
.footer .getapp__text {
  color: #fff;
}
.footer .social__text {
  color: #fff;
}
.footer .footer__heading {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: var(--kegel-15);
  color: #fff;
}
@media only screen and (max-width: 48em) {
  .footer .footer__heading {
    margin-bottom: var(--kegel-5);
  }
}
.footer .footer__nav {
  display: flex;
  flex-direction: column;
  gap: var(--kegel-7);
}
@media only screen and (max-width: 48em) {
  .footer .footer__nav {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.footer .footer__nav a {
  font-size: var(--kegel-4);
  color: var(--oc-white);
  text-decoration: none;
}
.footer .footer__nav > *:hover {
  text-decoration: underline;
}

.header {
  max-width: 120rem;
  margin-inline: auto;
  padding-block: var(--kegel-8);
  display: grid;
  align-items: center;
  gap: var(--kegel-7);
  grid-template-areas: "logo buttons burger";
  grid-template-columns: 1fr auto auto;
}
@media only screen and (max-width: 48em) {
  .header {
    grid-template-areas: "logo burger" "buttons buttons";
  }
}
.header__logo {
  grid-area: logo;
}
.header__lang {
  cursor: pointer;
  border: none;
  background-color: #fff;
  font-family: inherit;
  outline: none;
  font-size: var(--kegel-9);
}
@media only screen and (max-width: 48em) {
  .header__lang {
    font-size: var(--kegel-7);
  }
}
.header__buttons {
  grid-area: buttons;
  display: flex;
  gap: var(--kegel-7);
  justify-content: center;
  margin-left: auto;
}
@media only screen and (max-width: 48em) {
  .header__buttons {
    margin-left: 0;
  }
}
.header__burger {
  justify-self: end;
  grid-area: burger;
  width: var(--kegel-15);
  height: var(--kegel-15);
  transition: transform 0.3s ease, color 0.3s ease;
  border: none;
  background-color: transparent;
  color: #3a5aff;
}
@media only screen and (max-width: 30em) {
  .header__burger {
    width: var(--kegel-13);
    height: var(--kegel-13);
  }
}
.header__burger:hover {
  transform: scale(1.3);
  cursor: pointer;
  color: #ffc43b;
}

.container {
  max-width: 110rem;
  margin-inline: auto;
  padding-inline: var(--kegel-10);
}

/*# sourceMappingURL=style.css.map */
