$color-blue: #3a5aff;
$color-gold: #ffc43b;
$color-red: #ff3b53;
$color-lightblue: #3cc5ff;
$color-white: #fff;
$color-black: #111;
$color-lightgrey: #979797;
$color-lightbrown: #544837;
$color-darkbrown: #2f281e;
