@use "../abstracts" as *;

// Footer

.footer-w {
  background-color: $color-blue;
}

.footer {
  padding-block: var(--space-1);
  display: flex;
  justify-content: space-between;
  gap: var(--kegel-11);
  @include mq(md) {
    flex-direction: column;
  }

  &__logo {
    position: relative;
    top: -0.8rem;
    margin-bottom: var(--kegel-12);

    .logo__img {
      width: 3rem;
    }

    .logo__heading {
      color: #fff;
      font-size: var(--kegel-10);
    }
  }

  &__main {
    flex: 0 0 30rem;
    @include mq(md) {
      order: 1;
    }
  }

  .getapp {
    margin-bottom: var(--kegel-15);
    &__text {
      color: $color-white;
    }
  }

  .social__text {
    color: $color-white;
  }

  .footer__heading {
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: var(--kegel-15);
    color: $color-white;
    @include mq(md) {
      margin-bottom: var(--kegel-5);
    }
  }

  .footer__nav {
    display: flex;
    flex-direction: column;
    gap: var(--kegel-7);
    @include mq(md) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    a {
      font-size: var(--kegel-4);
      color: var(--oc-white);
      text-decoration: none;
    }

    > *:hover {
      text-decoration: underline;
    }
  }
}
