@use "../abstracts" as *;

// Footer

.footer-w {
  background-color: $color-blue;
}

.footer {
  padding-block: var(--space-1);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  gap: var(--kegel-11);

  @include mq(md) {
    grid-template-columns: repeat(4, 1fr);
  }
  @include mq(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq(xs) {
    grid-template-columns: 1fr;
  }

  &__logo {
    position: relative;
    top: -0.8rem;

    .logo__img {
      width: var(--kegel-12);
      height: var(--kegel-12);
    }

    .logo__heading {
      color: #fff;
      font-size: var(--kegel-10);
    }
  }

  &__main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: var(--kegel-5);

    @include mq(md) {
      grid-column: 1 / -1;
      grid-template-columns: auto auto;
      column-gap: var(--kegel-12);
      row-gap: var(--kegel-12);
      border-bottom: 1px solid $color-white;
      padding-bottom: var(--space-1);

      .logo {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        margin-inline: auto;
      }
    }

    @include mq(sm) {
      padding-bottom: var(--kegel-12);
      column-gap: var(--kegel-5);
      row-gap: var(--kegel-10);
    }

    @include mq(xs) {
      grid-template-columns: 1fr;
    }
  }

  .getapp {
    &__text {
      color: $color-white;
    }
  }

  .social__text {
    color: $color-white;
  }

  .footer__heading {
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: var(--kegel-15);
    color: $color-white;
    @include mq(md) {
      margin-bottom: var(--kegel-5);
    }
  }

  .footer__nav {
    display: flex;
    flex-direction: column;
    gap: var(--kegel-7);
    @include mq(sm) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    a {
      font-size: var(--kegel-4);
      color: var(--oc-white);
      text-decoration: none;
    }

    > *:hover {
      text-decoration: underline;
    }
  }
}
