@use "../abstracts" as *;

//Header
.header {
  padding-block: var(--kegel-5);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    &__heading {
      @include mq(lg) {
        font-size: var(--kegel-12);
      }
    }
  }

  @include mq(md) {
    flex-direction: column;
  }

  &__burger {
    transition: transform 0.3s ease;
    border: none;
    background-color: transparent;
    &:hover {
      transform: scale(1.05);
    }
  }

  &__heading {
    display: inline;
    font-family: Vibur, sans-serif;
    font-size: 5rem;
    line-height: var(--line-height-sm);
    font-weight: var(--weight-medium);
    color: var(--oc-gray-8);
  }

  &__tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  &__lang {
    cursor: pointer;
    font-size: 2.2rem;
    border: none;
    background-color: $color-white;
    font-family: inherit;
    outline: none;
  }
}
