@use "../abstracts" as *;

//Header
.header {
  max-width: 120rem;
  margin-inline: auto;
  padding: var(--kegel-8) var(--kegel-8);
  display: grid;
  align-items: center;
  gap: var(--kegel-7);
  grid-template-areas: "logo buttons burger";
  grid-template-columns: 1fr auto auto;

  @include mq(md) {
    grid-template-columns: 1fr auto;
    grid-template-areas: "logo burger";
    background-image: linear-gradient(to right, $color-blue, #405ce7);
    margin-bottom: var(--kegel-10);
    padding: var(--kegel-4) var(--kegel-8);
    box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.1);
  }

  &__logo {
    grid-area: logo;

    @include mq(md) {
      .logo__heading {
        color: var(--oc-white);
      }

      .logo__img {
        background-image: url(../img/game/logo-white.png);
        background-size: cover;

        img {
          visibility: hidden;
        }
      }
    }
  }

  &__lang {
    cursor: pointer;
    border: none;
    background-color: $color-white;
    font-family: inherit;
    outline: none;
    font-size: var(--kegel-7);
    @include mq(md) {
      display: none;
    }
  }

  &__buttons {
    grid-area: buttons;
    display: flex;
    gap: var(--kegel-7);
    justify-content: center;
    margin-left: auto;
    @include mq(md) {
      margin-left: 0;
      display: none;
    }
  }

  &__burger {
    justify-self: end;
    grid-area: burger;
    width: var(--kegel-14);
    height: var(--kegel-14);
    @include mq(md) {
      color: var(--oc-white);
    }
    // @include mq(sm) {
    //   width: var(--kegel-13);
    //   height: var(--kegel-13);
    // }
    transition: transform 0.3s ease, color 0.3s ease;
    border: none;
    background-color: transparent;
    color: $color-blue;
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
      color: $color-gold;
    }
  }
}
