@use "../abstracts" as *;

.btn {
  font-weight: var(--weight-7);
  display: inline-block;
  text-align: center;
  font-size: var(--kegel-5);
  text-decoration: none;
  border-radius: 0.5rem;
  box-shadow: inset 0px -4px 1px rgba(0, 0, 0, 0.6);
  transition: background-color 0.2s ease-out, color 0.2s ease-out,
    border 0.2s ease-out, box-shadow 0.2s ease-out;

  padding: 1em 2em;
}

.btn--big {
  padding: 1.5em 3em;
}

.btn--small {
  padding: 1em 2em;
}

.btn--white {
  &:link,
  &:visited {
    background-color: $color-white;
    color: $color-lightgrey;
    border: 0.2rem solid $color-lightgrey;
    box-shadow: none;
    transition: none;
  }

  @extend %btn-hover;
}

.btn--blue {
  &:link,
  &:visited {
    background-color: $color-blue;
    color: $color-white;
  }

  @extend %btn-hover;
}

%btn-hover {
  &:hover,
  &:active {
    background-color: $color-gold;
    color: var(--oc-white);
    border-color: var(--oc-white);
    box-shadow: inset 0px -4px 1px rgba(0, 0, 0, 0.6);
  }
}
