@use "../abstracts" as *;

//Features

.features {
  padding-block: var(--space-4);
}

.feature {
  display: flex;
  flex-direction: row;
  @include mq(md) {
    flex-direction: column;
  }
  position: relative;

  .subtitle {
    text-align: left;
  }

  &:nth-child(odd) {
    justify-content: end;
    .feature__img {
      left: 0;
    }
  }

  &:nth-child(even) {
    .feature__img {
      right: 0;
    }
  }

  &__img {
    width: 100%;
    top: 0;
    max-width: 40rem;
  }

  &__content {
    flex: 0 55%;
  }

  &__descr {
    font-weight: var(--weight-5);
    font-size: var(--kegel-9);
    line-height: var(--height-5);
  }

  .subtitle {
    margin-bottom: var(--kegel-8);
  }
}
