@use "../abstracts" as *;

//Features

.features {
  padding-block: var(--space-1);
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.feature {
  display: flex;
  gap: var(--space-1);
  flex-direction: row;
  justify-content: center;

  &--reverse {
    flex-direction: row-reverse;
  }

  &__img {
    flex: 1;
    img {
      width: 100%;
      // max-width: 40rem;
      @include mq(md) {
        max-width: 30rem;
      }
    }
  }

  &__content {
    flex: 1;
  }

  &__title.subtitle {
    text-align: left;
    margin-bottom: var(--kegel-8);

    @include mq(md) {
      text-align: center;
    }
  }

  &__descr {
    font-weight: var(--weight-5);
    font-size: var(--kegel-9);
    line-height: var(--height-5);
  }
}

.feature,
.feature--reverse {
  @include mq(md) {
    flex-direction: column;
    align-items: center;
    gap: var(--kegel-8);
  }
}
