@use "../abstracts" as *;

.game__main {
  background-color: $color-gold;
}

.game__header {
  text-align: center;
  font-size: var(--kegel-9);
  font-weight: var(--weight-5);
  @include mq(sm) {
    font-size: var(--kegel-7);
  }

  .subtitle {
    margin-bottom: var(--kegel-5);
  }
}

.game__footer {
  text-align: center;
  font-size: var(--kegel-12);

  @include mq(sm) {
    font-size: var(--kegel-10);
  }

  p {
    display: inline;
    margin-right: 0.5rem;
  }

  a:link,
  a:visited {
    font-weight: bold;
    text-decoration-line: underline;
    /* $primary */
    color: $color-blue;
    transition: color ease-out 0.2s;
  }

  a:hover,
  a:active {
    color: $color-gold;
  }
}

// Game

.game {
  display: flex;
  flex-direction: column;
  gap: var(--kegel-10);
  margin-bottom: var(--kegel-15);

  &__logo .logo__heading {
    color: var(--oc-white);
  }

  &__content {
    padding-block: var(--space-10);
    gap: var(--kegel-10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__trial {
    display: block;
    font-family: Montserrat;
    font-size: var(--kegel-7);
    color: var(--oc-gray-7);
    font-weight: var(--weight-5);
    text-align: center;
    text-decoration: none;

    &:hover {
      // color: var(--oc-gray-8);
      text-decoration: underline;
    }
  }

  &__btn {
    &:link,
    &:visited {
      background-color: var(--oc-white);
      padding: var(--kegel-9) var(--kegel-11);
      font-weight: var(--weight-7);
      font-size: var(--kegel-10);
      color: var(--oc-gray-6);
      border-radius: var(--kegel-15);
      transition: all 0.3 ease;
    }

    &:hover,
    &:active {
      // font-family: monospace;
      // letter-spacing: -0.15rem;
      color: $color-gold;
      background-color: $color-darkbrown;
      box-shadow: inset 0px -4px 1px rgba(255, 255, 255, 1);
    }
  }
}
