@use "../abstracts" as *;

.game-w {
  background-color: $color-gold;
}

.game__header {
  text-align: center;
  font-size: var(--kegel-9);
  font-weight: var(--weight-medium);

  .subtitle {
    margin-bottom: var(--kegel-5);
  }
}

.game__footer {
  text-align: center;
  font-size: var(--kegel-12);

  p {
    display: inline;
    margin-right: 0.5rem;
  }

  a:link,
  a:visited {
    font-weight: bold;
    text-decoration-line: underline;
    /* $primary */
    color: $color-blue;
    transition: color ease-out 0.2s;
  }

  a:hover,
  a:active {
    color: $color-gold;
  }
}

// Game

.game {
  display: flex;
  flex-direction: column;
  gap: var(--kegel-11);
  margin-bottom: var(--kegel-15);

  &__logo .logo__heading {
    color: $color-white;
  }

  &__content {
    padding-block: var(--space-10);
    gap: var(--kegel-5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .btn {
      &:link,
      &:visited {
        width: 372px;
        height: 73px;
        background-color: $color-white;
        padding: 20px;
        /* letter-spacing: -0.3px; */
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: $color-lightgrey;
        box-shadow: none;
        border-radius: 3em;
        transition: none;
      }

      &:hover,
      &:active {
        font-family: monospace;
        letter-spacing: -1.7px;
        color: #ffc43b;
        text-decoration: none;
        background-color: $color-darkbrown;
        border: none;
        box-shadow: inset 0px -4px 1px rgba(255, 255, 255, 1);
      }
    }
  }

  &__try {
    display: block;
    font-family: Montserrat;
    font-size: var(--kegel-7);
    color: var(--oc-gray-6);
    text-align: center;
    text-decoration: none;

    &:hover {
      color: #333333;
      font-weight: 600;
    }
  }
}
