@use "../abstracts" as *;

//Getapp

.getapp {
  p {
    font-weight: bold;
    font-size: var(--kegel-5);
    color: var(--oc-gray-8);
    margin-bottom: var(--kegel-1);
  }

  &__buttons {
    display: flex;
    gap: var(--kegel-1);
    @include mq(md) {
      flex-wrap: wrap;
    }
  }

  &__button {
    width: var(--space-7);
    border-radius: 0.5rem;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.05);
    }
  }
}
