@use "../abstracts" as *;

//Hero
.hero {
  padding-block: var(--kegel-15);
  @include mq(md) {
    padding-block: var(--kegel-10);
  }

  display: flex;
  @include mq(md) {
    flex-direction: column;
  }

  .headline {
    margin-bottom: var(--kegel-15);
    @include mq(md) {
      margin-bottom: var(--kegel-10);
      font-size: var(--kegel-12);
    }
  }

  &__text {
    font-size: var(--kegel-8);
    color: $color-lightbrown;
    margin-bottom: var(--kegel-10);
    @include mq(md) {
      font-size: var(--kegel-5);
    }
  }

  .btn {
    margin-bottom: var(--kegel-9);
  }

  &__content {
    flex: 0 50%;
  }

  &__img {
    img {
      width: 100%;
    }
  }

  .getapp {
    @include mq(md) {
      margin-bottom: var(--kegel-10);
    }
  }
}
