@use "../abstracts" as *;

//Hero
.hero {
  display: flex;
  @include mq(sm) {
    flex-direction: column-reverse;
  }

  &__content {
    flex: 1;
    @include mq(sm) {
      text-align: center;
    }
  }

  &__img {
    flex: 1;

    img {
      width: 100%;
    }
    @include mq(md) {
      max-width: 40rem;
      margin-inline: auto;
      margin-bottom: var(--kegel-5);
    }
  }

  .headline {
    margin-bottom: 0.75em;
  }

  &__text {
    font-size: var(--kegel-8);
    color: var(--oc-gray-7);
    margin-bottom: var(--kegel-10);
    @include mq(sm) {
      font-size: var(--kegel-6);
    }
  }

  .btn {
    margin-bottom: var(--kegel-15);
  }

  .getapp {
    @include mq(sm) {
      &__buttons {
        justify-content: center;
      }
    }
  }
}
