@use "../abstracts" as *;

// Logo

.logo {
  display: flex;
  align-items: center;
  gap: var(--kegel-7);

  .logo__img {
    position: relative;
    top: -0.5rem;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.05);
    }
  }

  .logo__heading {
    display: inline;
    font-family: Vibur, sans-serif;
    font-size: var(--kegel-15);
    font-weight: var(--weight-medium);
    color: var(--oc-gray-8);
  }
}
