@use "../abstracts" as *;

// Social

.social {
  &__text {
    font-weight: bold;
    font-size: var(--kegel-4);
    color: $color-black;
    margin-bottom: var(--kegel-4);
  }

  &__buttons {
    display: flex;
    gap: var(--kegel-1);

    img {
      width: var(--kegel-7);
    }
  }
  &__button {
    background-color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--kegel-13);
    height: var(--kegel-13);
    border-radius: 50%;

    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}
