@use "../abstracts" as *;

// Target

.target {
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: var(--kegel-15);
    gap: var(--space-5);

    @include mq(lg) {
      gap: var(--space-1);
    }

    @include mq(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq(xs) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    gap: var(--kegel-5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include mq(lg) {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
    }
  }

  &__title {
    font-weight: var(--weight-7);
    font-size: var(--kegel-8);
    color: var(--oc-gray-8);
    margin-bottom: var(--kegel-5);
    @include mq(md) {
      margin-bottom: 0;
    }
  }

  &__descr {
    font-size: var(--kegel-5);
    line-height: var(--height-7);
    color: var(--oc-gray-7);
    margin-bottom: var(--kegel-7);
    @include mq(lg) {
      grid-column: span 2;
    }
  }

  &__link {
    font-weight: var(--weight-7);
    font-size: var(--kegel-5);
    text-decoration: none;
    color: var(--oc-gray-8);
    margin-top: auto;
    @include mq(lg) {
      grid-column: span 2;
    }
    &:hover {
      color: $color-gold;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--kegel-15);
    height: var(--kegel-15);
    border-radius: 40%;
    margin-bottom: var(--kegel-7);
    @include mq(lg) {
      width: var(--space-1);
      height: var(--space-1);
      margin-bottom: 0;
    }

    &--blue {
      background-color: $color-blue;
    }

    &--lightblue {
      background-color: $color-lightblue;
    }

    &--red {
      background-color: $color-red;
    }

    &--gold {
      background-color: $color-gold;
    }
  }

  &__btn {
    text-align: center;
    .btn {
      text-transform: uppercase;
    }
  }
}
