@use "../abstracts" as *;

// Target
.w-target {
  background-color: var(--oc-gray-1);
}

.target {
  padding-block: var(--kegel-15);

  &__items {
    display: flex;
    justify-content: space-around;
    margin-bottom: var(--kegel-10);
    gap: var(--space-5);
  }

  &__item {
    flex: 1;
    min-height: var(--space-13);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__heading {
    font-weight: var(--weight-bold);
    font-size: var(--kegel-8);
    color: var(--oc-gray-8);
    margin-bottom: var(--kegel-5);
  }

  &__descr {
    font-size: var(--kegel-5);
    line-height: var(--line-height-md);
    color: var(--oc-gray-7);
  }

  &__link {
    font-weight: var(--weight-bold);
    font-size: var(--kegel-5);
    text-decoration: none;
    color: var(--oc-gray-8);
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--kegel-15);
    height: var(--kegel-15);
    border-radius: 40%;
    margin-bottom: var(--kegel-7);

    &--blue {
      background-color: $color-blue;
    }

    &--lightblue {
      background-color: $color-lightblue;
    }

    &--red {
      background-color: $color-red;
    }

    &--gold {
      background-color: $color-gold;
    }
  }
}
