@use "../abstracts" as *;

.testimonial {
  color: var(--oc-white);

  &__layout {
    display: flex;

    @include mq(sm) {
      flex-direction: column;
      gap: var(--kegel-10);
      align-items: center;
    }
  }

  &__graphics {
    position: relative;
    flex: 1 0 50%;
    @include mq(sm) {
      margin-top: var(--kegel-10);
    }
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-25%, 25%);
    border-radius: 50%;
    overflow: hidden;

    @include mq(sm) {
      position: static;
      transform: none;
    }

    img {
      width: 100%;
      display: block;
    }
  }

  &__content {
    padding-left: var(--kegel-15);
    border-left: 0.1rem $color-white solid;
    @include mq(sm) {
      padding-left: 0;
      border-left: none;
    }
  }

  &__author {
    font-weight: var(--weight-7);
    font-size: var(--kegel-6);
    margin-bottom: var(--kegel-10);
  }

  &__bio {
    font-weight: var(--weight-5);
    font-size: var(--kegel-5);
    line-height: var(--height-5);
    p {
      margin-bottom: var(--kegel-10);
    }
  }

  &__logo {
    width: var(--space-10);
    background-color: var(--oc-white);
    padding: var(--kegel-1) var(--kegel-12);
    border-radius: var(--kegel-2);

    img {
      width: 100%;
    }
  }
}

.testimonial {
  .subtitle {
    color: var(--oc-white);

    &::after {
      background-color: var(--oc-white);
    }
  }
}

.testimonial__quote {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-3rem);
  padding-block: var(--kegel-5);
  min-width: 40rem;
  z-index: 1;
  border-radius: var(--kegel-9);
  background-color: var(--oc-white);
  font-weight: var(--weight-7);
  font-size: var(--kegel-9);
  text-align: center;
  color: var(--oc-gray-8);

  @include mq(md) {
    min-width: var(--space-14);
    font-size: var(--kegel-8);
  }

  @include mq(sm) {
    transform: translate(1.5rem, -5rem);
  }

  &::before {
    content: "";
    display: block;
    background-color: $color-white;
    width: var(--kegel-9);
    height: var(--kegel-9);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-5rem, 50%);
  }

  &::after {
    content: "";
    display: block;
    background-color: $color-white;
    width: var(--kegel-5);
    height: var(--kegel-5);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-7.5rem, 200%);
  }
}
