@use "../abstracts" as *;

html {
  font-size: 62.5%;
  @include mq(lg) {
    font-size: 60%;
  }

  @include mq(sm) {
    font-size: 56.25%;
  }
}

body {
  color: var(--oc-gray-7);
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--weight-extrabold);
  color: var(--oc-gray-8);
}

h4 {
  font-size: 36px;
}

.headline {
  font-weight: var(--weight-8);
  font-size: var(--space-2);
  line-height: var(--height-3);
  color: var(--oc-gray-9);
}

.subtitle {
  font-size: var(--kegel-12);
  font-weight: var(--weight-8);
  text-align: center;
}

.subtitle--dash {
  margin-bottom: var(--space-1);
  &::after {
    content: "";
    display: block;
    background-color: $color-blue;
    width: var(--space-6);
    height: 0.8rem;
    margin: 0 auto;
    position: relative;
    top: var(--kegel-1);
  }
}
