@use "../abstracts" as *;

html {
  font-size: 62.5%;
  @include mq(lg) {
    font-size: 60%;
  }

  @include mq(sm) {
    font-size: 56.25%;
  }
}

body {
  color: var(--oc-gray-7);
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--weight-bold);
  color: var(--oc-gray-8);
}

h4 {
  font-size: 36px;
}

.headline {
  font-size: 7.4rem;
  line-height: 1.35;
  color: $color-darkbrown;
}

.subtitle {
  font-size: var(--kegel-12);
  font-weight: var(--weight-bold);
  text-align: center;
}

.subtitle--dash {
  margin-bottom: var(--space-1);
  &::after {
    content: "";
    display: block;
    background-color: #3a5aff;
    width: 11.5rem;
    height: 0.8rem;
    margin: 0 auto;
    position: relative;
    top: 10px;
  }
}
