@use "../abstracts" as *;

// *::selection {
//   background-color: $color-gold;
//   color: #444;
// }

html {
  font-size: 62.5%;
  @include mq(lg) {
    font-size: 60%;
  }

  @include mq(md) {
    font-size: 56.25%;
  }

  @include mq(sm) {
    font-size: 50%;
  }
}

body {
  color: var(--oc-gray-7);
}

.headline {
  font-weight: var(--weight-8);
  font-size: var(--space-1);
  line-height: var(--height-1);
  color: var(--oc-gray-9);

  @include mq(lg) {
    font-size: var(--kegel-15);
  }

  @include mq(sm) {
    font-size: var(--kegel-13);
  }
}

.subtitle {
  font-size: var(--kegel-12);
  font-weight: var(--weight-8);
  text-align: center;
  color: var(--oc-gray-8);

  @include mq(sm) {
    font-size: var(--kegel-10);
  }
}

.subtitle--dash {
  margin-bottom: var(--space-1);
  &::after {
    content: "";
    display: block;
    background-color: $color-blue;
    width: var(--space-6);
    height: 0.8rem;
    margin-inline: auto;
    position: relative;
    top: var(--kegel-1);
  }
}
